<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>chisel</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.theme.default.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/modal-video/css/modal-video.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="{{url_for('home')}}#body" class="scrollto"><span>c</span>hisel</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{{url_for('home')}}#hero">Home</a></li>
          <li><a href="{{url_for('home')}}#about-us">About</a></li>
          <li><a href="{{url_for('home')}}#features">Features</a></li>
          <li><a href="{{url_for('home')}}#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="container">
  <div class="row"><div class="col-md-12">
    <h1 class="text-center title-hud">About you</h1>
    <form class="form-horizontal">
      <h2>Personal Information</h2>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="John Doe">
        </div>
      </div>
      <label class="col-sm-2 control-label">Four short titles</label>
      <div class="form-group">
        <div class="col-sm-10">
          <div class="col-sm-12 titles">
            <div class="col-sm-3">
              <input type="text" class="form-control" id="title-1" placeholder="Lead Developer (Main)">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="title-2" placeholder="Content Writer">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="title-3" placeholder="Ethical Hacker">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="title-4" placeholder="Software Engineer">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="johndoe@gmail.com">
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="number" placeholder="91 9326 457 472">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea id="description" name="description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32."></textarea>
        </div>
      </div>
      <h2 class="hud-int-titles">Skills</h2>
      <div class="form-group">
        <label class="col-sm-2 control-label">Rate your top 4 skills</label>
        <div class="col-sm-10 skill-list">
          <div class="col-sm-12 titles">
            <div class="col-sm-5">
              <input type="text" class="form-control" id="skill1name" placeholder="Python">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" id="skill1level" placeholder="90">
            </div>
            <div class="col-sm-5 progress-row">
              <div class="progress">
                <div class="progress-bar progress-bar-success" id="skill1progress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <div class="col-sm-12 titles">
            <div class="col-sm-5">
              <input type="text" class="form-control" id="skill2name" placeholder="Ruby">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" id="skill2level" placeholder="85">
            </div>
            <div class="col-sm-5 progress-row">
              <div class="progress">
                <div class="progress-bar progress-bar-success" id="skill2progress" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <div class="col-sm-12 titles">
            <div class="col-sm-5">
              <input type="text" class="form-control" id="skill3name" placeholder="Julia">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" id="skill3level" placeholder="80">
            </div>
            <div class="col-sm-5 progress-row">
              <div class="progress">
                <div class="progress-bar progress-bar-success" id="skill3progress" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <div class="col-sm-12 titles">
            <div class="col-sm-5">
              <input type="text" class="form-control" id="skill4name" placeholder="R Script">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" id="skill4level" placeholder="75">
            </div>
            <div class="col-sm-5 progress-row">
              <div class="progress">
                <div class="progress-bar progress-bar-success" id="skill4progress" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">A brief of six of your skills</label>
        <div class="col-sm-10 skill-list">
          <label class="col-sm-3 control-label centered"><h4 class="centered">&nbsp;Skill-A</h4></label>
          <div class="col-sm-12 titles">
            <div class="col-sm-5 domain-name">
              <div class="col-sm-12">
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain1name" placeholder="Web Development">
                </div>
                <label class="col-sm-12 control-label">FontAwesome/ion icon tag</label>
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain1icon" placeholder="ion-monitor">
                </div>
                <div class=icon>
                  <i id="domain1view" class="icon ion-monitor"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <textarea id="domain1description" name="domain1description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <label class="col-sm-3 control-label centered"><h4 class="centered">&nbsp;Skill-B</h4></label>
          <div class="col-sm-12 titles">
            <div class="col-sm-5 domain-name">
              <div class="col-sm-12">
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain2name" placeholder="Web Development">
                </div>
                <label class="col-sm-12 control-label">FontAwesome/ion icon tag</label>
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain2icon" placeholder="ion-monitor">
                </div>
                <div class=icon>
                  <i id="domain2view" class="icon ion-monitor"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <textarea id="domain2description" name="domain2description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <label class="col-sm-3 control-label centered"><h4 class="centered">&nbsp;Skill-C</h4></label>
          <div class="col-sm-12 titles">
            <div class="col-sm-5 domain-name">
              <div class="col-sm-12">
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain3name" placeholder="Web Development">
                </div>
                <label class="col-sm-12 control-label">FontAwesome/ion icon tag</label>
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain3icon" placeholder="ion-monitor">
                </div>
                <div class=icon>
                  <i id="domain3view" class="icon ion-monitor"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <textarea id="domian3description" name="domain3description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <label class="col-sm-3 control-label centered"><h4 class="centered">&nbsp;Skill-D</h4></label>
          <div class="col-sm-12 titles">
            <div class="col-sm-5 domain-name">
              <div class="col-sm-12">
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain4name" placeholder="Web Development">
                </div>
                <label class="col-sm-12 control-label">FontAwesome/ion icon tag</label>
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain4icon" placeholder="ion-monitor">
                </div>
                <div class=icon>
                  <i id="domain4view" class="icon ion-monitor"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <textarea id="domain4description" name="domain4description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <label class="col-sm-3 control-label centered"><h4 class="centered">&nbsp;Skill-E</h4></label>
          <div class="col-sm-12 titles">
            <div class="col-sm-5 domain-name">
              <div class="col-sm-12">
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain5name" placeholder="Web Development">
                </div>
                <label class="col-sm-12 control-label">FontAwesome/ion icon tag</label>
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain5icon" placeholder="ion-monitor">
                </div>
                <div class=icon>
                  <i id="domain5view" class="icon ion-monitor"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <textarea id="domain5description" name="domain5description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-10 skill-list">
          <label class="col-sm-3 control-label centered"><h4 class="centered">&nbsp;Skill-F</h4></label>
          <div class="col-sm-12 titles">
            <div class="col-sm-5 domain-name">
              <div class="col-sm-12">
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain6name" placeholder="Web Development">
                </div>
                <label class="col-sm-12 control-label">FontAwesome/ion icon tag</label>
                <div class="col-sm-12 skill-list">
                  <input type="text" class="form-control" id="domain6icon" placeholder="ion-monitor">
                </div>
                <div class=icon>
                  <i id="domain6view" class="icon ion-monitor"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <textarea id="domain6description" name="domain6description" rows="10" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div></div>
</div>
<br/><br/>
  </section><!-- #hero -->

  <!--==========================
    Footer
  ============================-->
  <footer class="footer-b">

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights chisel. All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
  <script src="{{url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/modal-video/js/modal-video.js')}}"></script>
  <script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/wow/wow.min.js')}}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{url_for('static', filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script>
  $('#domain1icon').on('keyup', function(){
    var value = this.value;
    var bar =
    $('#domain1view')
      .attr('class', 'icon '+value)
    }).keyup();
    $('#domain2icon').on('keyup', function(){
      var value = this.value;
      var bar =
      $('#domain2view')
        .attr('class', 'icon '+value)
      }).keyup();
      $('#domain3icon').on('keyup', function(){
        var value = this.value;
        var bar =
        $('#domain3view')
          .attr('class', 'icon '+value)
        }).keyup();
        $('#domain4icon').on('keyup', function(){
          var value = this.value;
          var bar =
          $('#domain4view')
            .attr('class', 'icon '+value)
          }).keyup();
          $('#domain5icon').on('keyup', function(){
            var value = this.value;
            var bar =
            $('#domain5view')
              .attr('class', 'icon '+value)
            }).keyup();
            $('#domain6icon').on('keyup', function(){
              var value = this.value;
              var bar =
              $('#domain6view')
                .attr('class', 'icon '+value)
              }).keyup();
  </script>
  <script>
    $('#skill1level').on('keyup', function(){
      var value = this.value;
      var bar =
      $('#skill1progress')
        .css('width', value+'%')
        .attr('aria-valuenow', value);
      }).keyup();
      $('#skill2level').on('keyup', function(){
        var value = this.value;
        var bar =
        $('#skill2progress')
          .css('width', value+'%')
          .attr('aria-valuenow', value);
        }).keyup();
        $('#skill3level').on('keyup', function(){
          var value = this.value;
          var bar =
          $('#skill3progress')
            .css('width', value+'%')
            .attr('aria-valuenow', value);
          }).keyup();
          $('#skill4level').on('keyup', function(){
            var value = this.value;
            var bar =
            $('#skill4progress')
              .css('width', value+'%')
              .attr('aria-valuenow', value);
            }).keyup();
  </script>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  <script src="https://use.fontawesome.com/94b726376c.js"></script>

</body>
</html>
