<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cred.IT</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/custom-responsive-styles.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/all-plugins.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/plugins-activate.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/site.js')}}"></script>
</head>

<body id="page-top">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-dollar" aria-hidden="true"><span>Cred.IT</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#About">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#Services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#SiteMap">SiteMap</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#Contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Header Starts -->
  <section id="Banner" class="content-section">
    <form id="form" method=POST action="">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <input name="balance" id="balance" value={{user[0][4]}} type="hidden" placeholder="Exactly!">
        <h3 class="text-center"><br><br>{{ user[0][1] }}<h3>
        <h5 class="text-center"><br><br>Credit Balance: {{user[0][4]}}<h5>
      </div>

      <div class="cont container content-wrap text-center">
        <div class="user-info">
          <br><h5 class="off-right">Select a Recipient</h5>
          <span class="custom-dropdown big">
            <select id="recipient" name="recipient">
              {%for i in range(1,ulist[0]+1)%}
              <option id={{ulist[i][0]}} value={{ulist[i][0]}}>{{ulist[i][1]}}</option>
              {%endfor%}
            </select><br>
          </span>
        </div>
      </div>
    </div>
    <div class="cont container content-wrap text-center">
      <div class="bg">
        <input class="transparent" id="amount" name="amount" type="text" placeholder="Enter Transfer amount"/>
      </div>
    </div>
    <div class="overlay"></div>
    <div class="cont container content-wrap text-center send-to">
        <a id="submit" class="btn btn-primary btn-xl">Transfer Credits</a>
    </div>
  </form>
  </section>
  <!-- Header Ends -->

  <footer class="footer text-center">
    <div class="container">
      <p class="text-muted small mb-0">Copyright © Cred.IT 2020</p>
      <p class="text-muted small mb-0">Developed by <a href="https://samarmusthafa2014.wixsite.com/home" target="_balnk">Samar Musthafa</p>
    </div>
  </footer>
</body>

</html>
